form{
    background-color: yellow;
    width: 400px;
    display: flex;
    margin-left: 400px;
    flex-direction: column;
}
input{ 
/* margin-top: 5px; */
padding: 5px;
}
button{
    width: 100px;
    background-color: gray;
    margin-left: 150px;

}